<p id="notice"><%= notice %></p>

<%= will_paginate %>

<div class="filter">
  <p class="title">Filters</p>
  <p class="title_items">Name</p>
  <ul>
    <li>
      <input id="all" name="type" type="radio"></input>
      <label for="all">A-E</label>
    </li>
    <li>
      <input id="website" name="type" type="radio"></input>
      <label for="website">F-J</label>
    </li>
    <li>
      <input id="icon" name="type" type="radio"></input>
      <label for="icon">K-O</label>
    </li>
    <li>
      <input id="mobile" name="type" type="radio"></input>
      <label for="mobile">P-T</label>
    </li>
    <li>
      <input id="logo" name="type" type="radio"></input>
      <label for="logo">U-Z</label>
    </li>
  </ul>
  <p class="title_items">Age</p>
  <ul>
    <li>
      <input id="ny" name="city" type="radio"></input>
      <label for="ny">1-25</label>
    </li>
    <li>
      <input id="va" name="city" type="radio"></input>
      <label for="va">26-50</label>
    </li>
    <li>
      <input id="la" name="city" type="radio"></input>
      <label for="la">51-75</label>
    </li>
    <li>
      <input id="ch" name="city" type="radio"></input>
      <label for="ch">76-100</label>
    </li>
  </ul>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Interest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.age %></td>
      <td><%= user.address %></td>
      <td><%= user.interest %></td>
      <td><button type="button" class="btn btn-primary"><%= link_to 'Show', user %></button></td>
      <td><button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_user_path(user) %></button></td>
      <td><button type="button" class="btn btn-primary" autocomplete="off"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<br>

<button type="button" class="btn btn-primary">
  <%= link_to 'New User', new_user_path %>
</button>